/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-mar-2017, 13:09:38
    Author     : jorge
*/
#buttonFina{
    -fx-background-image: url("images/masaFina.jpg");
    -fx-background-size: stretch;
}
#buttonGorda{
    -fx-background-image: url("images/masaGruesa.jpg");
    -fx-background-size: stretch;
}
#pizzaBasica{
    -fx-background-image: url("images/pizzaBasica.jpg");
    -fx-background-size: stretch;
}
#pizzaCuatroQuesos{
    -fx-background-image: url("images/pizzaCuatroQuesos.png");
    -fx-background-size: stretch;
}
#pizzaBarbacoa{
    -fx-background-image: url("images/pizzaBarbacoa.png");
    -fx-background-size: stretch;
}
#pizzaMexicana{
    -fx-background-image: url("images/pizzaMexicana.png");
    -fx-background-size: stretch;
}
#resultado{
    -fx-background-color: #e9f3ff;
    -fx-border-color: #82b8f8;
    -fx-border-width: 2px;
}
