/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-mar-2017, 13:09:38
    Author     : jorge
*/
#inicio{
    -fx-background-image: url("images/inicio.jpg");
    -fx-background-size: stretch;
}

#buttonFina{
    -fx-background-image: url("images/masaFina.jpg");
    -fx-background-size: stretch;
}
#buttonGorda{
    -fx-background-image: url("images/masaGruesa.jpg");
    -fx-background-size: stretch;
}

#pizzaBasica{
    -fx-background-image: url("images/pizzaBasica.jpg");
    -fx-background-size: stretch;
}
#pizzaBasica:focused{
    -fx-border-color: #7990e7;
    -fx-border-width: 3px;
}
#pizzaCuatroQuesos{
    -fx-background-image: url("images/pizzaCuatroQuesos.png");
    -fx-background-size: stretch;
}
#pizzaCuatroQuesos:focused{
    -fx-border-color: #7990e7;
    -fx-border-width: 2px;
}
#pizzaBarbacoa{
    -fx-background-image: url("images/pizzaBarbacoa.png");
    -fx-background-size: stretch;
}
#pizzaBarbacoa:focused{
    -fx-border-color: #7990e7;
    -fx-border-width: 2px;
}
#pizzaMexicana{
    -fx-background-image: url("images/pizzaMexicana.png");
    -fx-background-size: stretch;
}
#pizzaMexicana:focused{
    -fx-border-color: #7990e7;
    -fx-border-width: 2px;
}

#resultado{
    -fx-background-color: #e9f3ff;
    -fx-border-color: #82b8f8;
    -fx-border-width: 2px;
}

#ingredienteJamon{
    -fx-background-image: url("images/ingredienteJamon.jpg");
    -fx-background-size: stretch;
    -fx-background-color: white;
}
#ingredienteQueso{
    -fx-background-image: url("images/ingredienteQueso1.jpg");
    -fx-background-size: stretch;
}
#ingredienteOlivas{
    -fx-background-image: url("images/ingredienteOlivas.jpg");
    -fx-background-size: stretch;
}
#ingredienteTomate{   
    -fx-background-image: url("images/ingredienteTomate.jpg");
    -fx-background-size: stretch;
}

#ingredienteCebolla{
    -fx-background-image: url("images/ingredienteCebolla.png");
    -fx-background-size: stretch;
    -fx-background-color: white;

}
#sinIngredientes{
    -fx-background-color: white;
}


#tamanoPequena{
    -fx-background-image: url("images/tamañoPequeña.png");
    -fx-background-size: stretch;  
    -fx-background-color: white;
}
#tamanoPequena:focused{
    -fx-border-color: #7990e7;
    -fx-border-width: 2px;
}
#tamanoMediana{
    -fx-background-image: url("images/tamañoMediano.png");
    -fx-background-size: stretch;
    -fx-background-color:white;
}
#tamanoMediana:focused{
    -fx-border-color: #7990e7;
    -fx-border-width: 2px;  
}
#tamanoFamiliar{
    -fx-background-image: url("images/tamañoFamiliar.jpg");
    -fx-background-size: stretch;
}
#tamanoFamiliar:focused{
    -fx-border-color: #7990e7;
    -fx-border-width: 2px;
}